{% include header.html %}
<div class="container">
  <h2>Pretengineer</h2>
  <p>The blog of <a href="http://jack.ly">Jack Pearkes</a>. I primarily work on software.
    These posts are typically technology related, but sometimes deviate. Posts follow
    in chronological order.
  </p>
  <hr></hr>
  {% for post in site.posts %}
    {% if post.draft != true %}
    <article class="post">
      {% if post.summary %}
      <h4 class="no-border"><a class="dark" href="{{post.url}}">{{ post.title }}</a></h4>
      <p class="no-top">{{ post.summary }}</p>
      {% endif %}
    </article>
    {% endif %}
  {% endfor %}
</div>
