<div class="container discussion">
  <hr></hr>
  <p>The following GitHub users made changes (or wholly wrote) this post. If you
    notice a typo, <a href="https://github.com/pearkes/pretengineer/edit/gh-pages/{{ page.filename }}">edits</a>
    are appreciated.
  </p>
  <p class="author-list"><em>Loading authors from GitHub...</em></p>
  <noscript>
    <p>This section of the site uses JavaScript to pull contributors from GitHub.</p>
  </noscript>
  <p>There are more posts on the <a href="/">index page</a>.</p>
</div>
