{% include header.html %}
<script>
var contributorCheckFile = "{{ page.filename }}";

$(function() {
  contributorCheck.init();
});
</script>
<div class="container">
  {% if page.draft == true %}
  <p class="draft">Hey! This is a draft. It hasn't been published yet.</p>
  {% endif %}

  <header>
    <h3 class="post-title">
      {{ page.title }}
    </h3>
      {% if page.date %}
        <small class="date">{{ page.date | date: '%B %d, %Y' }}</small>
      {% endif %}
  </header>

  <article class="post">
    <section class="content">
      <p>{{ content }}</p>
    </section>
  </article>
</div>
{% include discussion.html %}
{% include footer.html %}
